
@{
    ViewBag.Title = "entrytest";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Articulos - Entry</title>

    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <br>
        <br />&nbsp;&nbsp;<a href="~/Home/listatest" class="btn btn-success">VER OTROS Tests</a><br /><br />

        <article>

            <div class="card card-small mb-3">
                <h1 data-bind="title">Loading...</h1>

                <small>
                    By <span data-bind="author"></span> |
                    Updated at <span data-bind="updatedAt-formatted"></span> |
                    <span data-bind="views">0</span> Views
                </small>

                <hr>

                <div data-bind="body"></div><br />
                <input type="submit" class="btn btn-success" value="Realizar Test" onclick="submitAnswers()" /><br />
                <hr>
               
            </div>
        </article>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

    <script src="//cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>

    <script>
        // firebase config
        var config = {
            apiKey: "AIzaSyCCilUA5-Pu1LafwsvbyD3HBchsKE1oqTY",
            authDomain: "helpsych-66739.firebaseapp.com",
            databaseURL: "https://helpsych-66739-default-rtdb.firebaseio.com",
            storageBucket: "",
        };
        firebase.initializeApp(config);

        /////////////////////////////////////

        /*********************************\
         * Fetch and display the entry *
        \*********************************/

        var entry_id = $_GET('id');

        if (entry_id) {
            var added_views = false;
            var Entry = firebase.database().ref('TestWeb').child(entry_id);

            Entry.on('value', function (r) {
                var entry = r.val();

                if (entry) {

                    entry['updatedAt-formatted'] = datetimeFormat(entry.updatedAt);

                    $('[data-bind]').each(function () {
                        $(this).html(entry[$(this).data('bind')]);
                    });

                    // update title
                    document.title = 'Test - ' + entry.title;

                    // increase views count. once.
                    if (!added_views) {
                        added_views = true;
                        Entry.child('views').transaction(function (views) {
                            return (views || 0) + 1;
                        });
                    }








                } else { // content not found
                    window.location.href = 'index';
                }
            });

            // update button
            $('#update').attr('href', '/Articulos/updatetest?id=' + entry_id);

            // delete button
            $('#delete').click(function () {
                if (confirm('This entry will be permanently delete. Are you sure?')) {
                    Entry.remove(); // this will trigger Entry.on('value') immediatly
                }
            });
        } else {
            alert('This entry id does not exist');
            window.location.href = 'login';
        }

        /*************\
         * Utilities *
        \*************/

        function $_GET(key) {
            var queries = window.location.href.split('?').pop().split('&');
            var params = {};
            queries.map(function (query) {
                var set = query.split('=');
                params[set[0]] = set[1];
            });

            if (key) {
                return params[key] || null;
            } else {
                return params;
            }

        }

        function pad2Digit(num) {
            return ('0' + num.toString()).slice(-2);
        }

        function datetimeFormat(timestamp) {
            var dateObj = new Date(timestamp);
            var en_month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            return dateObj.getDate() + ' ' + en_month[dateObj.getMonth()] + ' ' + pad2Digit(dateObj.getFullYear()) + ' ' + pad2Digit(dateObj.getHours()) + ':' + pad2Digit(dateObj.getMinutes());
        }
    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function submitAnswers() {
            var respuestasTotales = 11;
            var puntaje = 0;
            var puntaje2 = 0;
            var puntaje3 = 0;
            var total = 0;


            //Capturando respuestas del usuario

            var q1 = document.forms["cuestionario"]["q1"].value;
            var q2 = document.forms["cuestionario"]["q2"].value;
            var q3 = document.forms["cuestionario"]["q3"].value;
            var q4 = document.forms["cuestionario"]["q4"].value;
            var q5 = document.forms["cuestionario"]["q5"].value;
            var q6 = document.forms["cuestionario"]["q6"].value;
            var q7 = document.forms["cuestionario"]["q7"].value;
            var q8 = document.forms["cuestionario"]["q8"].value;
            var q9 = document.forms["cuestionario"]["q9"].value;
            var q10 = document.forms["cuestionario"]["q10"].value;
            var q11 = document.forms["cuestionario"]["q11"].value;

            //validacion que esten respondidas las 4 preguntas
            for (i = 1; i <= respuestasTotales; i++) {
                if (eval('q' + i) == null || eval('q' + i) == "") {

                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'No has respondido la pregunta' + ' ' + i,
                        footer: '<a href="">Regresar al Test</a>'
                    })
                    return false;
                }
            }

            //validacion respuestas correctas
            for (i = 1; i <= respuestasTotales; i++) {
                if (eval('q' + i) == 1) {
                    puntaje++;

                }
                else {
                    if (eval('q' + i) == 2) {
                        puntaje2++;

                    } else {

                        if (eval('q' + i) == 3) {
                            puntaje3++;
                        }

                    }
                }

                total = puntaje + (puntaje2 * 2) + (puntaje3 * 3);
            }




            //mostrando respuestas correctas
            var resultados = document.getElementById('resultados');
            //resultados.innerHTML = "<h3>Obtuviste " + puntuaje + " de 4 preguntas</h3>"
            //alert("Has respondido " + puntuaje + " de 4 preguntas de manera correcta");
            //resultados.innerHTML = "<h3>Obtuviste " + puntuaje2 + " de 4 preguntas</h3>"
            //alert("Has respondido " + puntuaje2 + " de 4 preguntas de manera correcta");
            //resultados.innerHTML = "<h3>Obtuviste " + puntuaje3 + " de 4 preguntas</h3>"
            //alert("Has respondido " + puntuaje3 + " de 4 preguntas de manera correcta");

            if (total <= 11) {

                Swal.fire({
                    title: '<strong>EL RESULTADO DEL TEST ES EL SIGUIENTE:</strong>',
                    icon: 'info',
                    html:
                        '<p style="color:Green;">Usted tuvo una puntuacion de ' + total + '</p></b> ' +
                        'Por lo cual su estado es leve le recomendamos ir a leer nuestros articulos ' +
                        '<a href="http://helpsych.azurewebsites.net/home/articulos">Ingresa a nuestro apartado de Articulos</a> ' +
                        'Podra encontrar ayuda con uno de nuestros especialistas',
                    showCloseButton: true,
                    showCancelButton: true,
                    focusConfirm: false,
                    confirmButtonText:
                        '<i class="fa fa-thumbs-up"></i> Great!',
                    confirmButtonAriaLabel: 'Thumbs up, great!',
                    cancelButtonText:
                        '<i class="fa fa-thumbs-down"></i>',
                    cancelButtonAriaLabel: 'Thumbs down'
                })


            } else {

                if (total <= 22 && total >= 12) {


                    Swal.fire({
                        title: '<strong>EL RESULTADO DEL TEST ES EL SIGUIENTE:</strong>',
                        icon: 'info',
                        html:
                            '<p style="color:#FFC300;">Usted tuvo una puntuacion de ' + total + '</p></b> ' +
                            'Por lo cual su estado es moderado le recomendamos ir a un chat con un especialista ' +
                            '<a href="http://helpsych.azurewebsites.net/home/especialistas">Ingrese al Chat con un Especialista</a> ' +
                            'Podra encontrar ayuda con uno de nuestros especialistas' +
                            'Tambien Puede acceder a nuestro apartado de Articulos' +
                            '<a href="http://helpsych.azurewebsites.net/home/articulos">Ingrese al Chat con un Especialista</a> ',
                        showCloseButton: true,
                        showCancelButton: true,
                        focusConfirm: false,
                        confirmButtonText:
                            '<i class="fa fa-thumbs-up"></i> Great!',
                        confirmButtonAriaLabel: 'Thumbs up, great!',
                        cancelButtonText:
                            '<i class="fa fa-thumbs-down"></i>',
                        cancelButtonAriaLabel: 'Thumbs down'
                    })



                } else {

                    if (total <= 33 && total >= 23) {


                        Swal.fire({
                            title: '<strong>EL RESULTADO DEL TEST ES EL SIGUIENTE:</strong>',
                            icon: 'info',
                            html:
                                '<p style="color:red;">Usted tuvo una puntuacion de ' + total + '</p></b> ' +
                                'Por lo cual su estado es grave le recomendamos ir a un chat con un especialista ' +
                                '<a href="http://helpsych.azurewebsites.net/home/especialistas">Ingrese al Chat con un Especialista</a> ' +
                                'Podra encontrar ayuda con uno de nuestros especialistas',
                            showCloseButton: true,
                            showCancelButton: true,
                            focusConfirm: false,
                            confirmButtonText:
                                '<i class="fa fa-thumbs-up"></i> Great!',
                            confirmButtonAriaLabel: 'Thumbs up, great!',
                            cancelButtonText:
                                '<i class="fa fa-thumbs-down"></i>',
                            cancelButtonAriaLabel: 'Thumbs down'
                        })

                    }
                }

            }




            return false;
        }
    </script>

    <br /><br />
</body>

</html>

