
@{
    ViewBag.Title = "TestMenu";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Documento sin título</title>
</head>

<body>
    <br />
    <br />
    <table class="helpsych" border="1">
        <tbody>
            <tr>
                <td colspan="2"><h2>¿Qué test psicológico deseas realizar?</h2></td>
                
            </tr>
            <tr>
                <td><img src="~/img/1.jpg" width="327" height="154" alt="" /></td>
                <td>
                    <br />
                    <p>&nbsp;<h4>Test: Imapcto emocional Coronavirus&nbsp;</h4></p>
                    <p>
                        ¿Crees que la pandemia del coronavirus puede estar poniendo tu mundo de cabezas y que psicológicamente te está afectando más de la cuenta? Averígualo con nuestro test online
                    </p>
                    <br />
                    <a href="~/Test/Test6" class="btn btn-success">¡Comenzar!</a>
                    <br />
                    <br />
                </td>

            </tr>
            <tr>
                <td><img src="~/img/2.jpg" width="327" height="154" alt="" /></td>
                <td>
                    <br />
                    <p><h4>&nbsp;Test de Personalidad</h4></p>
                    <p>&nbsp;¿Quieres descubrir cuáles son esas peculiaridades que te definen? Todos tenemos características y rasgos de personalidad que nos identifican, pero muchas veces no conseguimos el instrumentos adecuado para descubrirlo. Conoce cuál es tu tipo de personalidad.</p>
                    <br />
                    <a href="~/Test/Test6" class="btn btn-success">¡Comenzar!</a></p>
                    <br />
                </td>
            </tr>
            <tr>
                <td><img src="~/img/3.jpg" width="327" height="154" alt="" /></td>
                <td>
                    <br />
                    <p>&nbsp;<h4>Test Online: Crisis de Pánico</h4></p>
                    <p>&nbsp;¿Crees estar sufriendo crisis de pánico? Con este exámen no tendrás un diagnóstico, pero si podremos darte algunas sugerencias en función de la cantidad y tipo de síntomas que nos describas.</p>
                    <br />
                    <a href="~/Test/Test6" class="btn btn-success">¡Comenzar!</a>
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td><img src="~/img/4.jpg" width="327" height="154" alt="" /></td>
                <td>
                    <br />
                    <p>&nbsp;<h4>Test Online: Depresión</h4></p>
                    <p>&nbsp;¿Crees sufrir depresión? ¿Tus situaciones cotidianas ya no te motivan, sientes cansancio y tu estado de ánimo está por el suelo? Mientras más tiempo pase, el problema puede volverse más difícil de superar, pero siempre hay posibilidades de tratarlo.</p>
                    <br />
                    <a href="~/Test/Test6" class="btn btn-success">¡Comenzar!</a>
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td><img src="~/img/5.jpg" width="327" height="154" alt="" /></td>
                <td>
                    <br />
                    <p><h4>&nbsp;Test Online: Fobia Social&nbsp;</h4></p>
                    <p>¿Crees estar teniendo problemas para exponerte en público? ¿Tus situaciones sociales se están volviendo cada vez más tensas y crees estar desarrollando una posible fobia social? </p>
                    <br />
                    <a href="~/Test/Test6" class="btn btn-success">¡Comenzar!</a>
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td><img src="~/img/6.jpg" width="327" height="154" alt="" /></td>
                <td>
                    <br />
                    <p>&nbsp;<h4>Test Online: Problemas de Pareja&nbsp;</h4></p>
                    <p>¿Estás teniendo problemas con tu pareja? Con nuestro examen psicológico podrás tener una idea de cuán deteriorada puede estar tu relación y qué deberías hacer en el escenario actual.</p>
                    <br />
                    <a href="~/Test/Test6" class="btn btn-success">¡Comenzar!</a>
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td><img src="~/img/7.jpg" width="327" height="154" alt="" /></td>
                <td>
                    <br />
                    <p>&nbsp;<h4>Test Online: Adicciones&nbsp;</h4></p>
                    <p>¿Crees estar teniendo un consumo problemático de sustancias (alcohol o drogas)? ¿Cómo saber cuándo se cruza la línea entre un consumo no problemático y otro que requiere atención profesional.</p>
                    <br />
                    <a href="~/Test/Test6" class="btn btn-success">¡Comenzar!</a>
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td><img src="~/img/8.jpg" width="327" height="154" alt="" /></td>
                <td>
                    <br />
                    <p>&nbsp;<h4>Test Online: Trastorno Obsesivo Compulsivo</h4></p>
                    <p>&nbsp;¿Temor a la contaminación o a la suciedad? ¿Necesitas que las cosas estén ordenadas simétricamente? ¿Pensamientos agresivos u horrendos sobre lastimarte o lastimar a otros? Averigua si presentas signos del trastorno obsesivo compulsivo</p>
                    <br />
                    <a href="~/Test/Test6" class="btn btn-success">¡Comenzar!</a>
                    <br />
                    <br />
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>

